body {
	background-color: #ffffff;
	margin: 0px;
	overflow-x: hidden;
	background-color: #e67e22;
	text-align: center;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	color: #ffffff;
	padding: 5px;
	font-family: Monospace;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
}

a {
	color: #ffffff;
}

.carousel__webgl {
	display: none;
}

.carousel__item {
	width: 860px;
	height: 640px;
	overflow: hidden;
}
.b-slider-container {
	max-width: 860px;
	display: inline-block;
}